
.navbar{
    display:  flex ;
    justify-content: space-between;
    border: 1px solid rgb(242, 234, 234);
    border-radius: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    backdrop-filter: blur(4px);
align-items: center;
margin: 10px 10px;

    
    
}
.navitem{
    display: flex;
    text-decoration: none;
    font:bolder;
    font-size: 20px;
    margin-right: 3%;
    padding-right: 20px;
   margin-left: 15%;
   justify-content: space-between;

     
}
.items{
    text-decoration: none;
    list-style-type: none;
    margin: 10px;
    
    color:  rgb(21, 16, 16);

}

.logo{
    height: 50px;
    width: 50px;
    margin-left: 1%;
}

.logo  img{
height: 100%;
width: 100%;
object-fit: cover;

}

.search{
    margin-right: 10px;
    background-color: transparent;
    text-decoration: none;
    
}
.Searchbox{
    height: 30px;
    background-color: transparent;
    color: rgb(94, 86, 76);
    width: 200px;
    text-align: center;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: larger;
    border: 1px dotted yellow;
    border-radius: 10px;

}